#outer7
{
    width:100%;
    text-align: center;
    display: inline-block;
}
.inner7
{
    display: inline-block;
}

#createyourpersonalwatchlist7 {
    text-align: center;
}

#inputboxsize7 {
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 16px;
}