#outer4
{
    width:100%;
    text-align: center;
}

#outer4bottom {
    width:100%;
    text-align: center;
}

.inner4
{
    display: inline-block;
}

#createyourpersonalwatchlist4 {
    text-align: center;
}