#outer1
{
    width:100%;
    text-align: center;
}
.inner1
{
    display: inline-block;
}

#createyourpersonalwatchlist1 {
    text-align: center;
}

#inputboxsize1 {
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 16px;
}

