#outer4
{
    width:100%;
    text-align: center;
    display: inline-block;
}

#outer4bottom {
    width:100%;
    text-align: center;
}

.inner4
{
    display: inline-block;
}

#createyourpersonalwatchlist4 {
    text-align: center;
}

#inputboxsize4 {
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 16px;
}