/* #outer7
{
    width:100%;
    text-align: center;
} */
/* .inner3
{
    display: inline-block;
} */
/* 
#createyourpersonalwatchlist7 {
    text-align: center;
} */

#inputboxsize3 {
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 16px;
}