.nav {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  background-color: #3874d4;
  justify-content: space-between;
  height: 80px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 100%;
  padding: 0;
  align-items: center;
  text-align: center;
}

.nav li {
  list-style: none;
  display: flex;
  padding: 0;
  height: 100%;
  align-items: center;
}

.nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 20%;
  color: white;
  transition: all 0.2s ease 0s;
  padding: 20px 20px;
  margin: 0;
  font-size: 20px;
}

.nav a:hover {
  color: rgb(219, 219, 219);
}

.logo {
  margin-right: auto;
  padding: 0;
  color: white;
  margin-bottom: 75px;
  font-size: 36px;
  font-weight: 400;
}
